.row
  .col-lg-12{ class: new_comment.errors.any? ? 'has-error' : '' }
    = form_for [post, new_comment], html: { role: :form }, data: { remote: true } do |f|
      %label{ class: :"control-label", for: :comment_body }
        = new_comment.errors[:body].join(', ') if new_comment.errors[:body].any?
      .input-group
        = f.text_field :body, class: 'form-control', placeholder: 'Leave a comment', data: { parse_remote_post_path: parse_remote_post_path }
        .input-group-btn
          = f.submit 'Send', class: 'btn btn-default', tabindex: "-1", type: :submit
          %button.btn.btn-default.dropdown-toggle{ data: { toggle: :dropdown }, tabindex: "-1", type: :button }
            %span.caret
            %span.sr-only Toggle Dropdown
          %ul.dropdown-menu.pull-right{ role: :menu }
            %li= link_to 'Attach image', '#'

      = f.fields_for :remote_post do |rpf|
        = rpf.hidden_field :source
        = rpf.hidden_field :title
        = rpf.hidden_field :h1
        = rpf.hidden_field :logo_url

  .col-lg-12#previews
